* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --border: 1px solid #000;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: darkblue;
  border-bottom: var(--border);
}

img {
  width: 150px;
  height: auto;
  border: var(--border);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
main img {
  float: right;
}
aside {
  margin: 10px;
  border: var(--border);
  padding: 12px;
  background-color: darksalmon;
  border-radius: 8px;
  color: black;
  position: relative;
}
main {
  grid-column: 2/3;
  margin: 1.2rem;
}
main,
aside {
  width: 50%;
}

main div {
  padding-top: 10px;
}

aside {
  grid-column: 1/2;
  position: relative;
  grid-row: 1/2;
}
aside img {
  width: 200px;
  height: auto;
}

aside h2 {
  position: absolute;
  top: 10%;
  left: 25px;
  color: wheat;
}

p {
  padding: 0;
}

footer {
  margin-top: 10px;
  border-top: 10px;
  text-align: center;
}

footer,
header,
.grid {
  max-width: 840px;
}

nav {
  display: flex;
  align-items: baseline;
  padding: 2rem 0 2rem 0;
  gap: 2rem;
}

nav a {
  color: black;
  display: block;
  font-weight: bold;
  text-decoration: none;
}
/* Class Selectors */

.box {
  margin: 1rem;
  border: var(--border);
  padding: 1rem;
  background-color: #ffb974;
  color: #000;
}
.grid {
  display: grid;
  align-items: center;
}
