*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

:root{
    --border: 1px solid #000;
}

nav {
    background-color: darkblue;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
}
nav {
    padding: 10px;
}
main {
    padding: 12px;
    max-width: 800px;
}
main img{
    float: right;
}
aside {
    max-width: 800px;
    margin: 10px;
    border: var(--border);
    padding: 12px;
    background-color: darksalmon;
    border-radius: 8px;
    color: black;
    position: relative;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 10%;
    left: 25px;
    color: wheat;
}

p {
    padding: 0;
}

footer {
    margin-top: 10px;
    border-top: 10px;
    text-align: center;
}


/* Class Selectors */

.box{
    margin: 1rem;
    border: var(--border);
    padding: 1rem;
    background-color: #ffb974;
    color: #000;
}

